body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f7;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}